@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts */
@font-face {
  font-family: 'ClashDisplay';
  src: url('/assets/fonts/clash-display/ClashDisplay-Variable.woff2')
    format('woff2');
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: 'BespokeStencil';
  src: url('/assets/fonts/bespoke-stencil/BespokeStencil-Variable.woff2')
    format('woff2');
  font-weight: 200 900;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
